In [6]:
numbers = ['a','b','c',5,4,2,4,8,6,45,78,57]
uniques = set(numbers) # set constructor
print(uniques)

{2, 'a', 4, 5, 6, 8, 'b', 45, 78, 'c', 57}

In [4]:
second = {2,5,4,8,45,54,65}
second.add(87)
second.remove(5)
print(second)

{65, 2, 4, 54, 87, 8, 45}

In [8]:
print(uniques|second) #union

{65, 2, 'a', 4, 5, 6, 8, 'b', 45, 78, 'c', 54, 87, 57}

In [9]:
print(uniques&second) #intersection

{8, 2, 4, 45}

In [10]:
print(uniques-second) #differece

{'a', 5, 6, 'b', 78, 'c', 57}

In [11]:
print(uniques^second) #sematric difference

{65, 'a', 5, 6, 'b', 78, 'c', 54, 87, 57}

In [12]:
if 4 in uniques:
    print('yes')

yes

In [15]:
s1 = {} #empty dictionary
s2 = set() # empty set
print(s1)

{}

In [16]:
s2.add(6)
print(s2)

{6}

In [17]:
s2.update({5,7,8,5})
print(s2)

{8, 5, 6, 7}

In [19]:
s2.update([15,754,84,5])
print(s2)

{5, 6, 7, 8, 15, 754, 84}

In [20]:
s2.remove(754)
print(s2)

{5, 6, 7, 8, 15, 84}

In [21]:
s2.discard(754)
print(s2)

{5, 6, 7, 8, 15, 84}

In [22]:
s2.remove(754)
print(s2)

KeyError: 754

In [23]:
s4 ={2,5,4,8,45,54,65}
s3 = s2.intersection(s4)
print(s3)

{8, 5}

In [24]:
print(s4.union(s2))

{65, 2, 4, 5, 6, 7, 8, 45, 15, 84, 54}

In [25]:
print(s4.difference(s2))

{65, 2, 4, 45, 54}

In [28]:
s3 = s2.intersection(s4, uniques)
print(s3)

{8, 5}

In [29]:
print(s4.union(s2,uniques))

{65, 2, 'a', 4, 5, 6, 7, 8, 78, 15, 84, 'b', 45, 'c', 54, 57}

In [34]:
print(s4.symmetric_difference(s2)) # unique elements from both the sets

{65, 2, 4, 6, 7, 15, 84, 45, 54}

In [36]:
l1 = [1,2,3,1,2,3]
l2 = list(set(l1))
print(l1)

[1, 2, 3, 1, 2, 3]

In [40]:
l1 = {1,2,3,1,2,3}
l3 = {'a','b','c','d','e',1,2,3,4,98,87,76,65,54,43,32,21,10}
result = l1.intersection(l3)
print(result)

{1, 2, 3}

In [41]:
result = l1.difference(l3)
print(result)

set()

In [42]:
result = l1.symmetric_difference(l3)
print(result)

{'d', 'a', 4, 65, 10, 76, 21, 87, 32, 98, 'e', 'b', 43, 'c', 54}

In [43]:
if 'd' and 'a' and 4 in l3:
    print('found')

found

In [ ]:
#O(n) for a list
#O(1) for a set

In [45]:
s5 = frozenset([45,78,45,65,87,32,4,65,65,6,45])
print(s5)

frozenset({32, 65, 4, 6, 45, 78, 87})

In [50]:
s5.difference(l3)

frozenset({6, 45, 78})

In [51]:
s5.symmetric_difference(l3)

frozenset({1,
           10,
           2,
           21,
           3,
           43,
           45,
           54,
           6,
           76,
           78,
           98,
           'a',
           'b',
           'c',
           'd',
           'e'})

In [53]:
s5.union(l3)

frozenset({1,
           10,
           2,
           21,
           3,
           32,
           4,
           43,
           45,
           54,
           6,
           65,
           76,
           78,
           87,
           98,
           'a',
           'b',
           'c',
           'd',
           'e'})

In [54]:
d = {'a':1, 'b':2, 'c':3}
x = frozenset(d)
print(x)

frozenset({'c', 'b', 'a'})

In [55]:
print(s5|x)

frozenset({32, 65, 'a', 4, 6, 'b', 45, 78, 'c', 87})

In [58]:
print(l1.isdisjoint(l3))

False